<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hadeeth.Properties.Settings._0TasshilnnnConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\0Tasshilnnn.mdb"
            providerName="System.Data.OleDb" />
        <add name="hadeeth.Properties.Settings._0TasshilnnnConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\asm\My Documents\Visual Studio 2005\Projects\hadeeth\hadeeth\0Tasshilnnn.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>